/*
Theme Name: iwtech.ru theme мобильная версия
Theme URI: http://iwtech.ru;
Author: iwtech.ru
Author URI: http://iwtech.ru;
Description: Тема разработана iwtech.ru
Version: 1.4
License: Commercial

-------------------------------------------------------------- */
.iwt1-darkmenu-title a {
    color: #fff;
}

.page-template-tpl-zp-new-php .iwt-content h2 {
    font-size: 30px;
    line-height: 35px;
    margin: 32px 0 20px 0;
    color: #333333;
    font-weight: 700;
}

.page-template-tpl-zp-new-php .iwt-content a {
    color: #f46f33;
    font-weight: 600;
    line-height: inherit;
    font-size: inherit;
    display: inline-block;
    text-decoration: underline;
}

.page-template-tpl-zp-new-php .iwt-content ul {
    margin-bottom: 45px;
}

.page-template-tpl-zp-new-php .iwt-content li {
    background: url(css/img/square-mobile.png) center left no-repeat;
    display: block;
    padding-left: 21px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
}

.page-template-tpl-basic .iwt1-text-addresspage a {
    color: #f46f33;
    font-weight: 600;
    line-height: inherit;
    font-size: inherit;
    display: inline-block;
    text-decoration: underline;
}

.page-template-tpl-basic .iwt1-text-addresspage h3 {
    font-weight: bold;
    margin: 80px 0 31px 0;
    font-size: 30px;
    line-height: 35px;
    color: #222;
    margin-top: -40px;
}

.iwt1-contact-modal-dialog, .iwt1-auth-modal-dialog {
    z-index: 1041;
}

.iwt1-about-icons {
    background-position: 0 0 !important;
    background-size: contain;
}

.page-template-tpl-abot_us_castour-php .iwt1-text h1 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin: 32px 0 20px 0;
    color: #222;
    font-family: Arial, Tahoma;
}

.iwt1-text-16 {
    font-size: 16px;
    line-height: 30px;
}

.iwt1-check-title a {
    color: #f44508;
}
.iwt1-address-col .iwt1-col-orange {
    white-space: nowrap !important;
}
.page-template-tpl_company .iwt1-sertificate-img {
    max-width:200px;
}
.page-template-tpl_company video {
    width:100%;
}